.input {
  display: flex;
  width: 50%;
  position: relative;
  align-items: center;
}

.input__box {
  width: 100%;
  border-radius: 50px;
  padding: 20px 30px;
  font-size: 25px;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px rgb(136, 136, 136);
}

@media (max-width: 800px) {
  .input {
    width: 90%;
  }
}

.input__box:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.1);
}

.input__submit {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 12px;
  border-radius: 50px;
  right: 0px;
  border: none;
  font-size: 15px;
  background-color: rgb(80, 118, 255);
  color: white;
  transition: 0.2s all;
  box-shadow: 0 0 10px rgb(122, 122, 122);
  cursor: pointer;
}

.input__submit:hover {
  background-color: rgb(40, 51, 255);
}

.input__submit:active {
  transform: scale(0.8);
  box-shadow: 0 0 5px rgb(156, 156, 156);
}

/** styles for TODOS**/

.todos {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  flex-wrap: wrap;
}

.todos__single {
  display: flex;
  width: 29.5%;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
  background-image: url("https://img.freepik.com/free-photo/white-painted-wall-texture-background_53876-138197.jpg?w=1380&t=st=1670663364~exp=1670663964~hmac=8ee4d788cb47885505eb1fd3af1440c455ad3bccf6557d213af6884d76f09160");
}

.todos__single--text {
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 20px;
  font-weight: bold;
}

.icon {
  margin-left: 20px;
  font-size: 25px;
  cursor: pointer;
}

@media (max-width: 800px) {
  .input {
    width: 95%;
  }

  .todos {
    width: 95%;
  }

  .todos__single {
    width: 90%;
  }
}
